.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
}

.dialogs .dialogItems {

}

.dialogs .dialogItems .dialog{
	padding: 5px;
}

.dialogs .messages {

}

.dialogs .messages .message{
	padding: 5px;
}