.wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 150px 1fr;
  grid-template-columns: 2fr 10fr;
}
.content {
	width: 500px;
	background-color: green;
}