.wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 150px 1fr;
  grid-template-columns: 2fr 10fr;
}

.head {
  grid-area: h;
}
.head img {
  width: 100px;
}

.navigator {
  grid-area: n;
}

.content {
  grid-area: c;
}
.content img {
  width: 120px;
}